<div class="container-fluid main">
    <div class="row col-sm-12">
        <img class="google" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png">
    </div>
    <div class="inputBox row col-sm-12">
        <form>
            <div class="textInputs_wrapper ris_font">
                <input ng-model="username" class="textInput username " placeholder="Логин">
                <div></div>
                <input ng-model="password" class="textInput password " placeholder="Пароль">
            </div>
            <button ng-click="goToLogin('rus')" class="signIn ris_font">Войти</button>
            <button class="register ris_font">Регистрация</button>
        </form>
    </div>
    <div class="ris_font row col-sm-12">
        <div class="footer">
            <ul>
                <li class="special">РУС</li>
                <li ng-click="goEnglish()">ENG</li>
            </ul>
        </div>
    </div>
</div>